# SPDX-FileCopyrightText: 2024 O21 contributors <https://github.com/ForNeVeR/O21>
#
# SPDX-License-Identifier: MIT

/.idea/

bin/
obj/

*.user
.vscode

.DS_Store

.vs/
*/Properties/launchSettings.json
